<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <span class="fa-stack text-muted">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-user fa-stack-1x fa-inverse"></i>
    </span>             
      <%= event.user.username %>
        <span class="badge badge-secondary pull-right">
            <%= event.created_at.to_formatted_s(:short) %>
        </span>      
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-11 col-xl-11 text-black-50">
    <p class="ml-5"><%= event.message %></p>
  </div>
</div>
<% if event.comment_id %>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="text-center">

        <p class="font-italic">"<%= Comment.find(event.comment_id).comment %>"</p>

      </div>
    </div>
  </div>
<% end %>

<% if event.image %>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="text-center">

      <figure class="figure">
        <a href="/images/<%= event.image.id %>">
          <%= image_tag event.image.image_image.variant(resize: "600x400"), :class => "img-fluid img-thumbnail" %>
        </a>
        <figcaption class="figure-caption text-center">
        </span>
        </figcaption>
      </figure>

      </div>
    </div>
  </div>
<% end %>
<hr/>
