<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<% if Sneaker.count == 0 %>
  <div class="card text-white bg-danger">
    <div class="card-body">
      <p class="card-text">No tags to display, upload an image to get started!</p>
    </div>
  </div>
<% else %>
  <div class="text-center">
  <h6>All Tags</h6>
    <% @tags_distinct.each do |tag| %>
        <% if tag.source == "Rekognition - Detect Labels"%>
          <%= link_to tag.name, "/sneakers/tag/#{tag.name}", :title => "#{tag.name} - #{number_to_percentage(tag.confidence)}", :class => "badge badge-secondary" %>
        <% end %>
        <% if tag.source == "Rekognition - Detect Moderation Labels"%>
          <%= link_to tag.name, "/sneakers/tag/#{tag.name}", :title => "#{tag.name} - #{number_to_percentage(tag.confidence)}", :class => "badge badge-success" %>
        <% end %>   
          <% if tag.source == "Rekognition - Detect Text"%>
          <%= link_to tag.name, "/sneakers/tag/#{tag.name}", :title => "#{tag.name} - #{number_to_percentage(tag.confidence)}", :class => "badge badge-warning" %>
        <% end %>
        <% if tag.source == "Rekognition - Recognize Celebrities"%>
          <%= link_to tag.name, "/sneakers/tag/#{tag.name}", :title => "#{tag.name} - #{number_to_percentage(tag.confidence)}", :class => "badge badge-info" %>
        <% end %> 
        <% if tag.source == "Extract EXIF Data"%>
          <%= link_to tag.name, "/sneakers/tag/#{tag.name}", :title => "#{tag.name}", :class => "badge badge-dark" %>
        <% end %> 
    <% end %>
  </div>
  <div class="text-center">
  <hr/>
  <h6>Tag Created By</h6>
      <span class="badge badge-secondary">Rekognition - Detect Labels</span>
      <span class="badge badge-success">Rekognition - Detect Moderation Labels</span>
      <span class="badge badge-warning">Rekognition - Detect Text</span>
      <span class="badge badge-info">Rekognition - Recognize Celebrities</span>
      <span class="badge badge-dark">Extract EXIF Data</span>
  </div>
<% end %>
