<nav class="navbar navbar-light navbar-expand-md fixed-top" style="background-color: #ffffff;">
    <%= link_to "<span>#{image_tag("logo.png", height: 45, border: 0)}</span>".html_safe, root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navbar"> 

        <ul class="navbar-nav ml-auto d-none d-xl-block d-lg-block d-md-block">
            <% if !user_signed_in? %>           
                <li class="nav-item"><%= link_to '<i class="fa fa-user" aria-hidden="true"></i> Sign In'.html_safe, new_user_session_path,
                    :class => "btn btn-primary my-2 my-sm-0" %>
                </li>
            <% else %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-user fa-stack-1x fa-inverse"></i></span>
                        <%= current_user.username %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown">
                    <%= link_to "My Profile".html_safe, edit_user_registration_path, :class => "dropdown-item" %>
                    <% if current_user.admin? %>
                        <%= link_to "Admin".html_safe, rails_admin_path, :class => "dropdown-item" %>
                    <% end %>
                    <%= link_to "Logout".html_safe, destroy_user_session_path, :class => "dropdown-item" , method: :delete %>
                    </div>
                </li>  
            <% end %>
        </ul>
  
        <ul class="navbar-nav d-xl-none d-lg-none d-md-none mr-auto ">
            <% if !user_signed_in? %>
                <li class="nav-item">
                    <%= link_to 'Upload'.html_safe, new_user_session_path,
                    :class => "nav-link"%>
                </li>
        
                <li class="nav-item">
                    <%= link_to 'Login'.html_safe, new_user_session_path,
                    :class => "nav-link" %>
                </li>
            <% else %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.username %></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown">
                    <%= link_to "My Profile".html_safe, edit_user_registration_path, :class => "dropdown-item" %>
                    <% if current_user.admin? %>
                        <%= link_to "Admin".html_safe, rails_admin_path, :class => "dropdown-item" %>
                    <% end %>
                    <%= link_to "Logout".html_safe, destroy_user_session_path, :class => "dropdown-item" , method: :delete %>
                    </div>
                </li>  
            <% end %>
        </ul>

    </div>
</nav>