<%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i>'.html_safe, :back, :class => "btn btn-outline-secondary" %>
<%= link_to '<i class="fa fa-download"></i> Download'.html_safe, rails_blob_path(@sneaker.sneaker_image, disposition: "attachment"),
             :class => "btn btn-outline-secondary pull-right ml-2" %>
<% if current_user %>
  <% if @sneaker.user.id == current_user.id %>
    <%= link_to '<i class="fa fa-trash"></i> Delete'.html_safe, sneaker_path(@sneaker), data: {:confirm => 'Are you sure?'}, :method => :delete, :class => "btn btn-outline-danger pull-right" %>
  <% end %>
  
<% end %>
<hr/>
<% if @sneaker.approved == 0 %>
  <div class="alert alert-danger" role="alert">
   This sneaker has been moderated and blocked from the main feed, likely due to suggestive content. Review the image's tags for details.
  </div>
<% end %>
<div class="row" id='sneaker'>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    <figure class="figure">
      <%= image_tag @sneaker.sneaker_image.variant(resize: "600x400"), :class => "img-fluid img-thumbnail" %>
    </figure>
        
    <% if @favorited == false %>
      <%= form_for Favorite.new do |f| %>
          <%= f.hidden_field :sneaker_id, value: @sneaker.id %>
          <%= f.hidden_field :user_id, value: current_user.id %></td>
          <%= f.button "<i class='fa fa-heart'></i> #{!@sneaker.favorites.nil? ? @sneaker.favorites.count : "0" }".html_safe, type: :submit, :class => "btn btn-outline-secondary pull-right" %>
      <% end %>
    <% else %>
      <%= link_to "<i class='fa fa-heart'> #{@sneaker.favorites.count}</i>".html_safe, favorite_path(@favorite), :method => :delete, :class => "btn btn-outline-secondary pull-right", :style => "color: red;" %>
    <% end %>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    <h5>Image Details</h5>
    <table class="table">
      <tr>
        <td>Uploaded On</td>
        <td><%= @sneaker.created_at.strftime("%m/%d/%Y") %> <%= @sneaker.created_at.strftime("%I:%M%p") %></td>
      </tr>
      <tr>
        <td>Tags</td>
        <td>
           <% if @sneaker.tags.count > 0 %>
            <% @sneaker.tags.each do |tag| %>

              <% if tag.name == "Error" %>
                <%= link_to tag.name, "/sneakers/tag/#{tag.name}", :title => "#{tag.source}", :class => "badge badge-danger" %>
              <% else %>

                <% if tag.source == "Rekognition - Detect Labels"%>
                  <%= link_to tag.name, "/sneakers/tag/#{tag.name}", :title => "#{tag.name} - #{number_to_percentage(tag.confidence)}", :class => "badge badge-secondary" %>
                <% end %>
                <% if tag.source == "Rekognition - Detect Moderation Labels"%>
                  <%= link_to tag.name, "/sneakers/tag/#{tag.name}", :title => "#{tag.name} - #{number_to_percentage(tag.confidence)}", :class => "badge badge-success" %>
                <% end %>   
                  <% if tag.source == "Rekognition - Detect Text"%>
                  <%= link_to tag.name, "/sneakers/tag/#{tag.name}", :title => "#{tag.name} - #{number_to_percentage(tag.confidence)}", :class => "badge badge-warning" %>
                <% end %>
                <% if tag.source == "Rekognition - Recognize Celebrities"%>
                  <%= link_to tag.name, "/sneakers/tag/#{tag.name}", :title => "#{tag.name} - #{number_to_percentage(tag.confidence)}", :class => "badge badge-info" %>
                <% end %> 

              <% end %>                                                            
            <% end %>
          <% else %>
            <span class="badge badge-secondary">No Tags</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Analyzed By</td>
        <td>
          <span class="badge badge-secondary">Rekognition - Detect Labels</span>
          <span class="badge badge-success">Rekognition - Detect Moderation Labels</span>
          <span class="badge badge-warning">Rekognition - Detect Text</span>
          <span class="badge badge-info">Rekognition - Recognize Celebrities</span>
        </td>
      </tr>   
      <tr>
        <td>Favorited By</td>
        <td>
          <% if @sneaker.favorites.count == 0 %>
            <span class="badge badge-secondary"> Nobody </span>
          <% else %>
            <% @sneaker.favorites.each do |favorite| %>
            <span class="badge badge-secondary"> <%= favorite.user.username %> </span>
            <% end %>
          <% end %>
        </td>
      </tr>   
    </table>
  </div>
</div>
